.app-download {
  margin: auto auto;
  margin-top: 100px;
  font-size: max(3vw, 20px);
  text-align: center;
  font-weight: 500;
  .app-download-platforms {
    display: flex;
    justify-content: center;
    gap: max(2vw, 10px);
    margin-top: 40px;
    img {
      width: maX(30vw, 120px);
      max-width: 180px;
      transition: 0.5s;
      cursor: pointer;
      &:hover {
        transform: scale(1.05);
        filter: drop-shadow(black 5px 5px);
      }
    }
  }
}
@media (max-width: 320px) {
  .app-download {
    font-size: max(2vw, 16px);
    .app-download-platforms {
      img {
        width: maX(30vw, 110px);
        max-width: 120px;
      }
    }
  }
}